SQLAlchemy
pytesseract
pillow
flask
Flask-Login
Werkzeug
Jinja2
blinker
click
config
greenlet
itsdangerous
docopt
setuptools
wheel
packaging
markupsafe
filelock
sympy
urllib3
markupsafe
automium
automium_web
requests
flask-json-api
flask-json
flask-session
http_client